<div class="container">
  <div class="jumbotron">
  <h1 class="top-header">Mailper</h1>
  <h2 class="text-center">Find email templates for all occasions</h2>
  <div class="text-center">
    <div class="controls">
      <div class="entry form-group">
        <%= form_tag(emails_path, method: :get) do %>
          <%= text_field_tag :term, params[:term] %>
          <%= button_tag(type: "submit", class: "find-button") do %>
            Find Now   <span class="glyphicon glyphicon-search" ></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container">
  <a href="#filter" data-toggle="collapse">
    <div class="panel panel-default"><p id="filter-head" class="text-center">Filter by Email type: <span class="glyphicon glyphicon-menu-down" style="color:black;" aria-hidden="true"></span></p></div>
  </a>
  <div id="filter" class="collapse">
    <div class="text-center">
      <p class="filter-emails"> email type</p>
      <p class="filter-emails"> email type</p>
      <p class="filter-emails"> email type</p>
      <p class="filter-emails"> email type</p>
      <p class="filter-emails"> email type</p>
      <p class="filter-emails"> email type</p>
    </div>
  </div>
</div>
<div class="container">
  <% @emails.first(10).each do |email| %>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= email.title %>
        </h3>
      </div>
      <div class="panel-body">
        Email type:
        <div class="label label-default">
          <%= email.tag.name %>
        </div>
        <div class="index-body">
          <%= truncate(simple_format(email.body), :length => 140, escape: false) %>
        </div>
          <%= link_to 'VIEW EMAIL', email, class: "show-button", remote: true %>
          <!-- Rendering email modal Partial -->
          <%= render 'layouts/modal' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
