<!DOCTYPE html>
<html>
  <head>
    <title>Mailper</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Every Email templates you can possibly need, for every occasion.
     So you will never think about writing email ever again">
    <meta name="keywords" content="Emails,Canned Emails,Email-Templates">
    <title>Mailper | Curated Canned Emails </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <%= link_to"MAILPER", root_path , class:"navbar-brand" %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-tags"></span> SELECT EMAIL TYPE:  <span class="glyphicon glyphicon-menu-down
            " aria-hiddden="true"></span></a>
            <ul class="dropdown-menu">
              <% Tag.all.each do |tag| %>
                <li><%= link_to tag.name, emails_path(tag: tag.name)%></li>
              <% end %>
            </ul>
        </li>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
